/* MAIN COLOR: #087F5B
GREY COLOR: #343a40 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    color: #444;
}

/* Utility class */
.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 48px;
}

header {
    height: 100vh;
    background-image: url("hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
    color: #fff;
    width: 600px;
}

header p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
    color: #fff;
    width: 600px;
}

.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}

h2 {
    font-size: 44px;
    margin-bottom: 48px;
}

section {
    padding: 96px 0;
    background-color: #f7f7f7;
}

.section-text {
    color: #444;
}